* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.card {
  background: #ffffffcc;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(5px);
}


.hex {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}


button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #333;
  color: white;
  transition: 0.2s;
}


button:hover {
  background: #555;
}
